.main-inner{width: 958px;margin: 0 auto;padding-top: 35px;}
.pic{overflow:hidden;}
.pic .basic{float:left;width: 300px;height: 177px;margin-bottom: 41px;margin-left:14px;
	        background-image:-webkit-linear-gradient(top,#1b1b1b,#0d0d0d);
	        background-image:-moz-linear-gradient(top,#1b1b1b,#0d0d0d);
	        border-radius: 7px;border: 1px solid #2b2b2b;box-shadow: 1px 1px 0 0 #0d0d0d inset;}
.pic .basic h1 {float: left;display:block;width:72px;height:72px;margin-top:23px;font-size: 42px;text-align: center;line-height:72px;margin-left:23px;background-image: -webkit-linear-gradient(#fff, #dcdcdc);border-radius: 7px;}
.pic .basic h2{float: left;margin:30px 0 0 26px;font-size: 28px;color: #e7e7e7;}
.pic .basic p{float: left;width: 183px;margin-left: 23px;margin-top: 20px;line-height:20px;color: #717171;font-size: 12px;}
/*.pic .basic h3{float: right;margin-top: 20px;font-size: 30px;color: #f05005;}*/
.pic .basic img{float: right;margin-top: 30px;margin-right: 24px;}
.main-inner article{float:left;width: 602px;margin-left: 12px;}
.main-inner article h1{font-size: 25px;color: #ebebeb;}
.main-inner article img{float:left;margin-top: 20px;}
.main-inner article p{float:left;margin-top: 48px;margin-bottom: 40px;margin-left: 20px;color: #808080;font-size: 13px;}
.main-inner article .left{float: left;}
.main-inner article .left ul li,.right ul li{margin-top: 20px;}
.main-inner article .left ul li a,.right ul li a{text-decoration: none;font-size: 12px;color: #fff;background-image: url(../images/arti_154.png);background-repeat: no-repeat;background-position: left center;padding-left: 10px;}
.main-inner article .right{float: right;margin-right: 23px;margin-bottom: 78px;}
.main-inner aside{overflow: hidden;float: right;width: 300px;margin-right: 14px;margin-top: 20px;border:1px solid #2b2b2b;border-radius:8px;}
.main-inner aside h1{margin:20px 0 20px 25px;font-size: 25px;color: #ebebeb;}
.main-inner aside div{overflow:hidden;width: 252px;margin-left: 25px;border-top:1px solid #262626;border-bottom: 1px solid #000;}
.main-inner aside div img{float: left;margin-top: 1px;}
.main-inner aside div p{float: left;margin:4px 0 0 8px;font-size: 13px; color: #808080;}
.main-inner aside div a{float: left;margin-left: 33px;padding-bottom: 21px;margin-top: 17px;text-decoration: none;font-size: 13px;color: #fff;}
.main-inner aside div .to{margin-top: 20px;margin-left: 14px;}
