.clearfix:before,.clearfix:after{content: " ";display: table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;clear: both;}
body{font-family: arial;background-color: #0d0d0d;}
header{background-image:-webkit-radial-gradient(center,#242424,#0e0e0e);
		background-image:-moz-radial-gradient(center,#242424,#131313);}
header .top-inner,.banner-inner{width: 958px;margin: 0 auto;}
header .top-inner h1{/*background-color: red;*/float:left;width: 210px;height: 38px;margin:44px 0 44px 24px;
		font-size:45px;color: #f7f7f7;text-shadow:1px 1px 0 #707070;
	/*background-image: url(../images/logo_03.png);text-indent: -100%;overflow: hidden;*/}
header h1:first-letter{color:#f04e04;}
header .top-inner .right{float: right;margin-top: 68px;margin-right: 25px;}	
header .top-inner .right a{text-decoration: none;font-size: 12px;color: #fff;margin-left: 34px;}	
header nav {float: left;width: 958px;background-image:-webkit-linear-gradient(top,#fff,#dcdcdc);
	background-image:-moz-linear-gradient(top,#fff,#dcdcdc);border-radius: 10px;}
header nav ul li{float: left;border-left:1px solid #e2e2e2;}
header nav ul li:first-child a{background-image:-webkit-linear-gradient(top,#f15405,#e82d02);
						background-image:-moz-linear-gradient(top,#f15405,#e82d02);}
header nav ul li a{height: 55px;display:block;text-decoration: none;/**margin-top:21px;*/color:#141414;font-size: 12px;line-height: 55px;padding: 0px 72px;padding: 0px 71px\0/;*padding:0 71px 21px 71px;border-bottom:1px solid #f7f7f7;} 
header nav ul li a:hover{background-image:-webkit-linear-gradient(top,#f15405,#e82d02);
						background-image:-moz-linear-gradient(top,#f15405,#e82d02);}
header .banner-inner{margin-top: 50px;}
header .banner-inner .left{float: left;}
header .banner-inner>article{float: right;width: 274px;}
header .banner-inner>article h1{font-size: 39px;color: #ec4003;}
header .banner-inner>article h2{margin-top: 10px;font-size: 24px;color: #e7e7e7;}
header .banner-inner>article p{margin-top: 30px;font-size: 12px;color: #7a8080;}
header .banner-inner>article a{display:block;width: 150px;height: 45px;margin: 31px 0 90px 64px;
	background-image:-webkit-linear-gradient(top,#fff,#dcdcdc);
	background-image:-moz-linear-gradient(top,#fff,#dcdcdc);
	border-radius: 10px;
	font-size:14px;color: #0d0d0d;text-decoration: none;line-height: 45px;text-align: center;}
footer{margin-bottom: 18px;border-bottom:1px solid #fff;
	background-image:-webkit-linear-gradient(top,#fff,#dcdcdc);
    background-image:-moz-linear-gradient(top,#fff,#dcdcdc);}
footer .footer-inner p{margin-top: 40px;padding-bottom: 18px;font-size:12px;color: #0d0d0d;text-align: center;}
footer .footer-inner a{color:#e82d02;}